<!DOCTYPE html>
<html>
  <head>
    <title>MARC CAREER OPURTUNITIES</title>
    <style>
      h1{
        font: size; 60px;
        font-family: Roboto;
        color : rgb(40,40,40);
        text-align: center;
      }
      #work{
        width: 100%;
        height: 360px;
        object-fit: cover;
        
      }
      h2{
        font: size; 32px;
        font-family: Roboto;
        color: rbg(100,100,100);
        
      }
    </style>
  </head>
  <body>
    <div>
      <h1>MARC CAREER OPPURTUNITIES</h1>
      <h2> WELCOME TO HOME PAGE!</h2>
      <img id="work" 
    src="https://flaskwebtutor.yushmitha3.repl.co/static/work.jpg" 
      height="300" width="750">
      <h2>About MARC </h2>
      <p> This site provides a brief about various career 
      oppurtuties for students of higher education and seeking 
      graduation.<br>Click below to learn more.</br></p>
      <div>
      <button>Get Started</button>
      </div>
    </div>
  </body>
</html>